{% extends 'base.html.twig' %}

{% block main %}
    <main class="container-fluid p-5">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 d-flex flex-column justify-content-center box-custom">
                <div class="row justify-content-lg-between justify-content-center align-items-center">
                    <div class="col-11 col-lg-8">
                        <h2 class="h1 bold mb-5">Récupérez votre compte</h2>
                        <p class="p-custom mb-5">Veuillez indiquer l'adresse mail que vous avez utilisé pour créer votre compte. Un mail de réinitialisation de mot de passe vous sera envoyé à cette adresse. Le mail de réinitialisation sera valable 24 heures. Au delà de ce délai, il vous faudra demander un nouveau mail de réinitialisation. Si vous n'avez plus accès à votre boite mail, adressez vous à un formateur de l'E2C pour accèder à nouveau à votre compte.</p>
                        
                        <div>
                            {{form_errors(form)}}
                            {{form_start(form)}}
                            {{form_end(form)}}
                        </div>
                    </div>
                    <div class="col-11 col-lg-4 text-center">
                        <img src="{{ asset('images/icons/mail.png')}}" alt="icône Email" class="img-fluid p-4">
                    </div>
                </div>
                
            </div>
        </div>
    </main>
{% endblock %}
