{% extends 'base.html.twig' %}

{% block main %}
    <main class="container-fluid p-5">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 d-flex flex-column justify-content-center box-custom">
                <div class="row justify-content-lg-between justify-content-center align-items-center">
                    <div class="col-11 col-lg-8">
                        <h2 class="h1 bold mb-5">Définissez un nouveau mot de passe</h2>
                        
                        
                        <div>
                            {{form_errors(form)}}
                            {{form_start(form)}}
                            {{form_end(form)}}
                        </div>
                    </div>
                    <div class="col-11 col-lg-4 text-center">
                        <img src="{{ asset('images/icons/mdp.png')}}" alt="icône Mdp" class="img-fluid p-4">
                    </div>
                </div>
                
            </div>
        </div>
    </main>
{% endblock %}