<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}E2C Learn!{% endblock %}</title>
        <link rel="icon" href="{{ asset('./images/icons/logo.png')}}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {% include "./_modules/_headerMain.html.twig" %}
        {% endblock %}
        {% block nav %}
            {% include "./_modules/_nav.html.twig" %}
        {% endblock %}
        {% block main %}{% endblock %}

        {% include "./_modules/_flash.html.twig" %}
    </body>
</html>
