<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail de réinitialisation</title>

    <style>
        body{
            background-color: #F1BBD5;
            color: #3B0944;
            font-family: sans-serif;
            font-size: large;
            padding: 40px;
        }

        .box-custom {
            background-color: #ffffffb6;
            box-shadow: #3B0944 2px 2px 5px 0;
            padding : 20px;
        }
    </style>
</head>
<body>
    <div class="box-custom">
        <p>Bonjour {{ user.firstname}},</p>
        <p>Vous avez demandé une réinitialisation de votre mot de passe pour accéder à la plateforme <strong>E2C - Apprendre !</strong></p>
        <p>Cliquez sur le lien ci-dessous pour redéfinir un nouveau mot de passe. Ce lien sera valable 24 heures après la réception de ce message.</p>
        <p><a href="{{ absolute_url(path('app_password_renewal', {token: token}))}}">Lien de modification de mot de passe</a></p>
        <p>A bientôt sur la plateforme <strong>E2C - Apprendre !</strong></p>
    </div>
    
</body>
</html>